@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #7e7ee1;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.new-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.friend-lists {
    margin-top: 1rem;
}

.friend {
    padding: 10px;
    border-bottom: 1px solid white;
}

.friend:last-child {
    border: none;
}

.img {
    border-radius: 100%;
    width: 200px;
}

.devimg {
    border-radius: 20%;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
    font-weight: 1000;
}

hr {
    margin: 15px 0;
    width: 250px;
    border: 1px solid white;
}

.main {
    width: 350px;
    margin: 50px auto;
}

.form {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.main-form {

}

.form-flex {
    padding: 20px 20px 5px 20px;
    display: flex;
    justify-content: space-around;
}

.form-flex:last-child {
    display: flex;
    justify-content: space-around;
    padding: 5px 20px 30px 20px;
}

.submit-form {
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.Fly-Plan {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
}

input[type=submit] {
    margin-left: 3%;
    color: white;
    font-weight: 800;
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.input-number {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.input:disabled {
    background-color: grey;
}

label {
    font-weight: bolder;
}

table ,td {
    border-collapse: collapse;
    border: 3px dotted grey;
}

td {
    padding: 5px;
}